.container-admin::before{
    content: '';
    position: absolute;
    left: 0;
    background: #7FDBFF;
    height: 100svh;
    width: 55%;
    opacity: .15;
    z-index: -1;
    transform: skew(15deg);
    transform-origin: bottom left;
}


.container-admin::after{
    content: '';
    position: absolute;
    left: 0;
    background-color: #0064B2;
    height: 100%;
    width: 45%;
    opacity: 1;
    z-index: -1;
    transform: skew(-40deg);
}